.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  animation: App-logo-origin-spin reverse 6s linear;  
}

.small {
  margin-left: 30px;
}

.large {
  margin-left: 8px;
}

.logosContainer {
  display: inline-flex;
}

.arrowChange {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  margin: 8px 20px;
  top: 8px;
  position: relative;
}

.Lateral-logo:hover {
  animation: App-logo-lateral-spin infinite 5s linear;
}

.Vertical-logo:hover {
  animation: App-logo-vertical-spin infinite 5s linear;
}

.name {
  font-size: 28px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-origin-spin {
  /*from { transform: rotate(); }*/
  to { transform: rotate(0deg); }
}

@keyframes App-logo-vertical-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-lateral-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
