.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  margin: 6px;
}

.Lateral-logo {
  animation: App-logo-lateral-spin infinite 20s linear;
}

.Vertical-logo {
  animation: App-logo-vertical-spin infinite 20s linear;
}

.name {
  font-size: 28px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-vertical-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-lateral-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
